body {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

html {
  height: 100%;
}

h1,
h2 {
  text-align: center;
}

form,
h1,
h2,
.allData {
  font-family: "Mulish", sans-serif;
}

.App ul {
  margin: 0 auto;
  padding: 0;
}

.App li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App li:first-letter {
  text-transform: capitalize;
}

.App .container {
  display: block;
  margin: 20 0 20 0;
  padding-bottom: 20px;
}
