.ForecastInfo {
  border: 2px solid #ffffff;
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 77%;
}

.ForecastInfo canvas {
  height: 35px;
  width: 35px;
}

.ForecastInfo .forecastIcon {
  padding-top: 5px;
}

.ForecastInfo .hour {
  padding: 10px 0;
}

.ForecastInfo .temp {
  padding: 10px 0;
}
