.Forecast {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0 10px 12px 80px;
  max-width: 860px;
  padding: 7px 30px 7px 30px;
}
