.weatherCurrentTemperature a {
  color: #ffffff;
}

.weatherCurrentTemperature .currentTemp {
  font-size: 45px;
  margin: 0;
}

.weatherCurrentTemperature .feelTemp {
  margin-bottom: 5px;
}

.weatherCurrentTemperature .units {
  font-size: 16px;
  position: relative;
  top: -19px;
}

.weatherCurrentTemperature .units:hover {
  color: #ffffff;
  cursor: default;
}
