.weatherCurrentTemperature .currentTemp {
  font-size: 35px;
  margin: 0;
}

.weatherCurrentTemperature .feelTemp p {
  margin-bottom: 5px;
}

.weatherCurrentTemperature .weatherDescription {
  font-size: 15px;
}
