.weatherDetail {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.weatherDetail .icon {
  margin-top: 8px;
}

.weatherDetail .temperature {
  margin-top: 4px;
}

.weatherDetail a {
  color: #ffffff;
}

.weatherDetail .currentTemp {
  font-size: 50px;
}

.weatherDetail .humidityAndWind {
  margin-bottom: 10px;
  text-align: center;
}

.weatherDetail .units {
  font-size: 16px;
  position: relative;
  top: -24px;
}

.weatherDetail .activeUnitCelsius {
  font-weight: bold;
  left: -3px;
}

.weatherDetail .activeUnitFahrenheit {
  font-weight: bold;
  position: relative;
  left: -3px;
}

.weatherDetail .fahrenheitInactive {
  position: relative;
  right: -5px;
}

.weatherDetail .fahrenheitInactiveUnit {
  position: relative;
  left: -4px;
}

.weatherDetail .celsiusInactive {
  position: relative;
  right: -1px;
}
