.weatherDetail {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  text-align: center;
}

.weatherDetail .icon {
  margin-top: 8px;
}

.weatherDetail .temperature {
  margin-top: 4px;
}

.weatherDetail a {
  color: #ffffff;
}

.weatherDetail .currentTemp {
  font-size: 50px;
}

.weatherDetail .humidityAndWind {
  margin-bottom: 10px;
  text-align: center;
}
